:root {
  --primary-green: #64ffda;
  --secondary-gray: #ccd6f6;
  --tertiary-darkgray: #8892b0;
}

* {
  margin: 0;
  padding: 0;
  font-family: system-ui;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #0a192f;
  color: var(--tertiary-darkgray);
}

span-gray {
  position: relative;
}

span-gray::after {
  content: "";
  width: 0;
  height: 2px;
  background: var(--primary-green);
  position: absolute;
  left: 0;
  bottom: 0;
  transition: 0.3s;
}

span-gray:hover::after {
  width: 100%;
}

span-green {
  color: var(--primary-green);
  position: relative;
}

span-green::after {
  content: "";
  width: 0;
  height: 2px;
  background: var(--secondary-gray);
  position: absolute;
  left: 0;
  bottom: 0;
  transition: 0.3s;
}

span-green:hover::after {
  width: 100%;
}

#header {
  width: 100%;
}

.container {
  padding: 150px 10%;
}

nav {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 50px;
  background: #0a192f;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: 20px 20px;
}

.logo {
  width: 140px;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a {
  color: var(--secondary-gray);
  text-decoration: none;
  font-size: 18px;
}

.header-text {
  margin-top: 20%;
}

.header-text h1 {
  font-size: 55px;
  margin-top: 20px;
  color: var(--secondary-gray);
  font-weight: 500;
}

.header-text h2 {
  font-size: 45px;
  margin-top: 20px;
  font-weight: 500;
}

.header-text p {
  font-size: 20px;
  margin-top: 20px;
  font-weight: 400;
  max-width: 65%;
}

/* --------------------about--------------------- */
#about {
  padding: 80px 0;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-col-1 {
  flex-basis: 20%;
}

.about-col-1 img {
  width: 100%;
  border-radius: 15px;
  background-color: #1c3b6d;
}

.about-col-2 {
  flex-basis: 75%;
}

.sub-title {
  font-size: 60px;
  font-weight: 600;
  color: var(--secondary-gray);
}

.tab-titles {
  display: flex;
  margin: 20px 0 40px;
}

.tab-links {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

.tab-links::after {
  content: "";
  width: 0;
  height: 2px;
  background: var(--primary-green);
  position: absolute;
  left: 0;
  bottom: 0;
  transition: 0.3s;
}

.tab-links.active-link::after {
  width: 50%;
}

.tab-contents ul li {
  margin: 10px 0;
}

.tab-contents ul li span {
  color: var(--primary-green);
  font-size: 18px;
  font-weight: 500;
}

.tab-contents {
  display: none;
}

.tab-contents.active-tab {
  display: block;
}

/* ---------------------feature project----------------- */
#projects {
  padding: 30px 0;
}

.projects-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.projects-list div {
  background: #262626;
  padding: 40px;
  font-size: 13px;
  font-weight: 500;
  border-radius: 10px;
  transition: background 0.5s, transform 0.5s;
}

.projects-list div i {
  font-size: 50px;
  margin-bottom: 30px;
  color: var(--primary-green);
}

.projects-list div h2 {
  font-size: 30px;
  margin-bottom: 15px;
  color: var(--secondary-gray);
}

.projects-list div a {
  text-decoration: none;
  color: var(--secondary-gray);
  font-size: 1.2rem;
  margin-top: 20px;
  display: inline-block;
  border: 1px solid var(--primary-green);
  border-radius: 10px;
  padding: 2px 10px;
}

.projects-list div:hover {
  background: #00997a;
  transform: translateY(-10px);
}

.btn {
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid var(--primary-green);
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  color: #fff;
  transition: background 0.5s;
  font-weight: 800;
  font-size: 20px;
}

.btn:hover {
  background: var(--primary-green);
}

/* -------------------portfolio-------------------- */

#portfolio {
  padding: 50px 0;
}

.links-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.link {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.link svg {
  width: 100%;
  border-radius: 10px;
  display: block;
  fill: var(--secondary-gray);
  transition: transform 0.3s;
}

.layer {
  width: 100%;
  height: 0;
  background: linear-gradient(rgb(0, 0, 0, 0.6), var(--primary-green));
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 30px;
  color: #fff;
  transition: height 0.3s;
}

.layer h3 {
  font-weight: 500;
  margin-bottom: 20px;
}

.layer a {
  margin-top: 20px;
  color: var(--primary-green);
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  background: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
}

.link:hover svg {
  transform: scale(1.1);
}

.link:hover .layer {
  height: 100%;
}

/* -------------------------contact------------------------------ */

.contact-left {
  flex-basis: 35%;
}

.contact-right {
  flex-basis: 60%;
}

.contact-left p {
  margin-top: 30px;
}

.contact-left p i {
  color: var(--primary-green);
  margin-right: 15px;
  font-size: 25px;
}

.contact-left a {
  text-decoration: none;
  color: var(--secondary-gray);
  transition: transform 0.5s;
  display: block;
  margin-top: 10px;
}

.social-icons {
  margin-top: 20px;
}

.social-icons a {
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: var(--secondary-gray);
  display: inline-block;
  transition: transform 0.5s;
}

.social-icons a:hover {
  color: var(--primary-green);
  transform: translateY(-5px);
}

.btn.btn2 {
  display: inline-block;
  color: #0a192f;
  background: var(--primary-green);
}

.contact-right form {
  width: 100%;
}

form input,
form textarea {
  width: 100%;
  outline: none;
  background: #262626;
  padding: 15px;
  margin: 15px 0;
  color: #fff;
  font-size: 18px;
  border-radius: 6px;
}

form .btn2 {
  padding: 14px 60px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
}

.copyright {
  width: 100%;
  text-align: center;
  padding: 25px 0;
  background: #262626;
  font-weight: 400;
  margin-top: 20px;
}

.copyright i {
  color: var(--primary-green);
  margin-left: 6px;
}

/* -----------------css for small screens------------------- */

nav .fas {
  display: none;
}

@media only screen and (max-width: 600px) {
  .header-text {
    margin-top: 10%;
    font-size: 1.2rem;
  }

  .header-text h1 {
    font-size: 30px;
  }
  nav .fas {
    display: block;
    font-size: 25px;
  }
  nav ul {
    background: #262626;
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.3s;
  }

  nav ul li {
    display: block;
    margin: 25px;
  }

  nav ul .fas {
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
  }

  .sub-title {
    font-size: 40px;
  }

  .about-col-1,
  .about-col-2 {
    flex-basis: 100%;
  }

  .about-col-1 {
    margin-bottom: 30px;
  }

  .about-col-2 {
    font-size: 15px;
  }

  .tab-links {
    font-size: 1.2rem;
    margin-right: 20px;
  }

  .contact-left,
  .contact-right {
    flex-basis: 100%;
  }

  .copyright {
    font-size: 14px;
  }
}

#msg {
  color: #61b752;
  margin-top: -40px;
  display: block;
}

a {
  text-decoration: none;
  font-weight: bold;
}
